{% extends "base_generic.html" %}

{% block content %}
  <h1>Book List</h1>
  {% if author_list %}
  <ul>
    {% for author in author_list %}
      <li>
        <!--Creates a list item for each author and shows the name (as link) and author
        use dot notation to access the fields of associated book record. book.get_absolute_url
         grabs the URL to display the associated detail record-->
        <a href="{{ author.get_absolute_url }}">{{ author }}</a> ({{author}})
      </li>
    {% endfor %}
  </ul>
  {% else %}
    <p>There are no authors in the library.</p>
  {% endif %}       
{% endblock %}